<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>{% block title %} Movie {% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      
      {% if user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          @{{user.username}}
        </a>
        <div class="dropdown-menu">
          
          <hr>
          <a class="dropdown-item" href="{% url 'app_login:user_logout' %}">Logout</a>
        </div>
      </div>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </form>
    <form class="d-flex" role="search" method="POST" action="{% url 'movie:search' %}">
      <input class="form-control me-2" type="search" placeholder="Search Movie" name="search_movie">
      <button class="btn btn-outline-success" type="submit">Search</button>
      
    </form>
      {% endif %}
    </ul>
  </nav>
  <div class="container" style="padding-top:20px">
    {% block content %}


    {% endblock %}
  </div>

</body>
</html>